*{
    margin: 0;
    padding: 0;
}

body{
  /* padding-top: 60px; ヘッダー固定のためにマージンとる */
}
/*------------------ヘッダー領域------------------*/
/*ヘッダーの背景*/
header{
  position: fixed;
  margin-top: -60px;
  width:100%;
  height:50px;
  background-color:#000000;
  z-index:998;
}
  
/*ヘッダーの中の３つの要素全てを囲んだdiv*/
#top{
  width:1420px;
  height:50px;
  margin-left: auto;
  margin-right: auto;
}

/*タイトルを囲んだdiv*/
#Htitle{
  width:550px;
  height:50px;
  margin-left: 435px;/*タイトルが中央にくるようこの値を指定*/
  margin-right: 155px;/*ログインユーザーとログアウトがメインの横幅の右端と位置が揃って右端にくるようにこの値を指定*/
  float:left;/*divの中のdivを横並びにするには全ての要素にfloat:leftがいる*/
}

/*ログインユーザー囲んだdiv*/
#Hlogin{
  width:180px;
  height:50px;
  float:left;/*divの中のdivを横並びにするには全ての要素にfloat:leftがいる*/
}

  /*ログアウトのリンク囲んだdiv*/ 
#Hlogout{
  width:100px;
  height:50px;
  float:left;/*divの中のdivを横並びにするには全ての要素にfloat:leftがいる*/
}

/*タイトルのリンク線消す*/
#TitleBackLink{
  text-decoration: none;
}

/*ヘッダーの中身*/
h1{
  height:50px;
  width:550px;
  font-size:40px;
  color:#FFFFFF;
  margin-left: auto;
  margin-right: auto;
  /*-------------------上下左右の中央寄せ------------------------*/
  display: flex;/*fFlexコンテナ化*/
    align-items: center;/*f縦方向の位置を中央に*/
  justify-content: center;/*横方向のアイテム位置を中央に*/
  /*-------------------上下左右の中央寄せ------------------------*/
  /* font-family: 'Lora', serif;
  font-family: 'Noto Sans JP', sans-serif; */
}

/*○月の表示のスタイル*/
#TitleMonth{
  width:100px;
  background-color:#FFFFFF;
  color:#000000;
  margin-left:15px;
  text-align: center;
  
}

/*ログインしたユーザー名のスタイル*/
#login{
  width:180px;
  height:50px;
  color:#FFFFFF;
  /*-------------------上下左右の中央寄せ------------------------*/
  display: flex;/*fFlexコンテナ化*/
    align-items: center;/*f縦方向の位置を中央に*/
  justify-content: center;/*横方向のアイテム位置を中央に*/
  /*-------------------上下左右の中央寄せ------------------------*/
}

/*ログインしたユーザー名を強調*/
#username{
  color:#AEFFBD;
  font-size:20px;
  margin-left:2px;
  margin-right:2px;
}

#logout{
  width: 100px;
  height: 50px;
  color:#FFFFFF;
  /*-------------------上下左右の中央寄せ------------------------*/
  display: flex;/*fFlexコンテナ化*/
    align-items: center;/*f縦方向の位置を中央に*/
  justify-content: center;/*横方向のアイテム位置を中央に*/
  /*-------------------上下左右の中央寄せ------------------------*/
}
/*------------------ヘッダー領域(END)------------------*/

#today_title{
  margin-top: 60px;
}

/* フィルタボタン・検索フォームを囲むdivタグ */
#search{
  width: 70%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/* 全て */
#filBtn1{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* 未了 */
#filBtn2{
  border-radius: 0px;
}

/* 完了 */
#filBtn3{
  border-radius: 0px;
}

/* キャンセル */
#filBtn4{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* リスト・タイムテーブル切替のタブのスタイル */
#dispTabs{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* リスト・タイムテーブル切替のタブ(未選択時)*/
.dispTab{
  width: 100px;
  height: 30px;
  padding: 8px;
  border-radius: 3px;
  color: #000000;
}

/* リスト・タイムテーブル切替のタブ(選択時)*/
#tabStyle1,#tabStyle2{
  background-color: #000000;
  color: #FFFFFF;
}

/*------------------簡易リスト表示------------------*/
/* リスト */
.list_view{
  width: 80%;
  height:100px;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  margin-top:10px;
  border-radius: 4px;
  border:solid;
  border-width:1px;
  border-color: #808080;
}

/* リストタイトル */
.list_title{
  width: 80%;
  font-size: 30px;
  float: left;
}

/* 進捗ステータスボタンのスタイル */
/* 未了 */
.unfinish{
  width:100px;
  height:60px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

/* 完了 */
.finish{
  width:100px;
  height:60px;
  border-radius: 4px;
  background-color: #66FFCC;
}

/* キャンセル */
.cancel{
  width:100px;
  height:60px;
  border-radius: 4px;
  background-color: #C0C0C0;
}

/* 進捗ステータスボタンのformタグ */
.progBtn{
  margin-top:-30px;
  float: left;
  margin-right: 20px;
}

.detail,.edit,.delete{
  margin-top:-100px;
  margin-left:5px;
}

/*------------------タイムテーブル表示------------------*/
#time_table{
  width: 95%;
  table-layout: fixed;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 30px;
}

.timesThead{
  width:4%;
  border-top-style:none; 
}

.timesTh{
  width:4%;
  height: 50px;
  text-align: center;
  border-top-style:none; 
}

/* 現在時刻のth */
#timesNow{
  width:4%;
  height: 50px;
  text-align: center;
  background-color:#00FFFF;
}

/* 現在時刻のtd */
.timesNow{
  width:4%;
  height: 50px;
  border-top-style:none; 
  border-bottom-style:none; 
  background-color:#00FFFF;
}

.tdView{
  width:4%;
  border-top-style:none; 
  border-bottom-style:none; 
  background-color:#DDDDDD;
}

.tdSche{
  font-size: 13px;
  height: 40px;
  table-layout: fixed;
}


.no_data{
  font-size: 25px;
  width: 50%;
  margin-top: 40px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}


/*------------------編集フォーム------------------*/

/*ポップアップ時に背景を薄暗くする。削除モーダルウィンドウと供用*/
#popback{
  position: absolute;
  top:-10%;
  left:0%;
  width: 100%;
  height: 200%;
  opacity:0.5;
  background-color:#000000;
  z-index:999;
}

/*全体の枠のdivタグの設定*/
#Editform{
  max-width: 90%;
  max-height: 120%;
  padding-bottom: 20px;
  border-radius:10px;
  background-color:#FFFFFF;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index:1000;
}

/* 開始時間・終了時間のセレクトタグのラベル */
label{
  margin-left: 6px;
}

/* 開始時間・終了時間 */
#selectTime1,#selectTime2{
  width: 160px;
  height: 40px;
}

/*タイトルの入力タグ*/
#pre_title{
  width: 100%;
  padding:20px;
}

/*テキストエリア*/
#EditPreviwe{
  width: 100%;
  height: 150px;
  font-size:15px;
  padding:20px;
  resize: none;
}

/* 進捗選択 */
#prog_select{
  width: 100%;
  height: 40px;
}

/*背景ラジオのチェックを非表示に*/
#green[type=radio],#yellow[type=radio],#bule[type=radio],#purple[type=radio],#red[type=radio],#orange[type=radio],#white[type=radio]{
display: none; /* ラジオボタンを非表示にする */
}

/*背景ラベルのスタイル設定*/
#green,#yellow,#bule,#purple,#red,#orange,#white{
display: block; /* ブロックレベル要素化する */
float: left; /* 要素の左寄せ・回り込を指定する */
margin: 5px; /* ボックス外側の余白を指定する */
width: 30px; /* ボックスの横幅を指定する */
height: 30px; /* ボックスの高さを指定する */
cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
border: 1px solid #000000;/* ボックスの境界線を実線で指定する */
border-radius: 3px; /* 角丸を指定する */
}

/*背景ラベルが選択された時のスタイル設定*/
#EditTdColor input[type="radio"]:checked + label{
border-radius: 20px;
}

/*背景カラーパレット*/
#green{
  background-color:#66FF66;
}

#yellow{
  background-color:#FFFF88;
}

#bule{
  background-color:#87CEFA;
}

#purple{
  background-color:#C299FF;
}

#red{
  background-color:#FA8072;
}

#orange{
  background-color:#FFA500;
}

#white{
  background-color:#FFFFFF;
}

/*モーダルフッター*/
#editFormFoot{
  clear: both;/*モーダルフッターの手前の要素でfloat: left;してるので解除*/
  height: 50px;
}


/*------------------新規登録フォーム------------------*/
/*背景ラジオのチェックを非表示に*/
#Addgreen[type=radio],#Addyellow[type=radio],#Addbule[type=radio],#Addpurple[type=radio],#Addred[type=radio],#Addorange[type=radio],#Addwhite[type=radio]{
  display: none; /* ラジオボタンを非表示にする */
}

/*背景ラベルのスタイル設定*/
#Addgreen,#Addyellow,#Addbule,#Addpurple,#Addred,#Addorange,#Addwhite{
  display: block; /* ブロックレベル要素化する */
  float: left; /* 要素の左寄せ・回り込を指定する */
  margin: 5px; /* ボックス外側の余白を指定する */
  width: 30px; /* ボックスの横幅を指定する */
  height: 30px; /* ボックスの高さを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  border: 1px solid #000000;/* ボックスの境界線を実線で指定する */
  border-radius: 3px; /* 角丸を指定する */
}

/*背景ラベルが選択された時のスタイル設定*/
#AddTdColor input[type="radio"]:checked + label{
  border-radius: 20px;
}

/*背景カラーパレット*/
#Addgreen{
    background-color:#66FF66;
}

#Addyellow{
    background-color:#FFFF88;
}

#Addbule{
    background-color:#87CEFA;
}

#Addpurple{
    background-color:#C299FF;
}

#Addred{
    background-color:#FA8072;
}

#Addorange{
    background-color:#FFA500;
}

#Addwhite{
    background-color:#FFFFFF;
}

/* 予定のタイトル */
#subAddTitle{
  width: 100%;
}

/* 詳細なメモ */
#subAddMemo{
  width: 100%;
  resize: none;
}