*{
    margin: 0;
    padding: 0;
}

/* 横方向のスクロール無効化 */
html,body{
  overflow-x: hidden;
  overflow-y: auto;
}

/*------------------ヘッダー領域------------------*/
  
/*ヘッダーの中の３つの要素全てを囲んだdiv*/
#top{
  height:50px;
  margin-left: auto;
  margin-right: auto;
}

/*タイトルを囲んだdiv*/
#Htitle{
  height:50px;
  float:left;/*divの中のdivを横並びにするには全ての要素にfloat:leftがいる*/
}


/* 日付表示 */
.dispSelectedDay{
  font-size: 20px;
  text-align:center;
}

/* 昨日　明日　ページ送り */
#prevDay,#nextDay{
  padding-left: 3px;
  font-size: 15px;
}

/* フィルタボタン・検索フォームを囲むdivタグ */
.top_controller{
  width: 100%;
  /* margin-top: 20px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.right_contents{
  padding-bottom:50px;
}

/* 表示切替ボタンを横並びに */
.searchBtns{
  display:block;
  width:100%;
  font-size: 0.8em;
  margin:0;
}

/* 全て */
.filBtn1{
  width:100%;
  height: 34px;
  background:#fff;
  border:solid;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-width: 1px;
  border-color: gray;
  border-right:none;
}

/* 未了 */
.filBtn2{
  width:100%;
  height: 34px;
  background:#fff;
  border:solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: gray;
  border-right:none;
}

/* 完了 */
.filBtn3{
  width:100%;
  height: 34px;
  background:#fff;
  border:solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: gray;
  border-right:none;
}

/* キャンセル */
.filBtn4{
  width:100%;
  height: 34px;
  background:#fff;
  border:solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-width: 1px;
  border-color: gray;
}

.serch_form{
  display: flex;
  border: solid 2px gray;
  border-radius:3px;
  /* margin-top:3px; */
  padding:0;
}

.serch_input{
  display: block;
  width:100%;
  height:30px;
  padding-left:10px;
  border: none;
}

.serch_input:focus{
  outline:none;
}

.serch_btn{
  display: block;
  width:40px;
  height:30px;
  border: none;
  background:gray;
  color:#fff;
}

/* 表示切替ボタンの選択時のスタイル */
.selectedType1,.selectedType2,.selectedType3,.selectedType4{
  background-color: gray;
  color: #FFFFFF;
}

/* リスト・タイムテーブル切替のタブのスタイル */
#dispTabs{
  width: 100%;
  border-bottom: solid; 
  border-bottom-color: gray;
}

/* リスト・タイムテーブル切替のタブ(未選択時)*/
.dispTab{
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 30px;
  /* padding-left: 6px; */
  color: gray;
  font-size: 20px;
}

/* リスト・タイムテーブル切替のタブ(選択時)*/
#tabStyle1,#tabStyle2{
  background-color: gray;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #FFFFFF;
}

/* 左カレンダー */
.left_calendar{
  /* table-layout: fixed; */
  width: 100%;
  /* border:solid 0.1px #888888; */
  /* border-collapse: collapse;  */
  border-radius:10px;
  text-align:center;
}

.left_calendar_thead{
  font-weight:bold;
}


.daysTd{
  /* height:60px; */
  padding:10px;
  color:#AAAAAA;
}

.list_style_tags{
  width:100%;
  height:40px;
  border:solid 1px #888;
  border-radius:3px;
  padding:4px;
  margin-bottom:10px;
}

.list_style_tags:hover{
  box-shadow: 0 0 8px gray;
}

.ajax_change_progress{
  display:block;
  width:30px;
  height:30px;
  /* padding-top:-50px; */
  font-size:30px;

  border:solid 2px #C0C0C0;
  border-radius:3px;
  background:#fff;
  pointer:cursor;
}

.ajax_change_progress:focus{
  outline:none;
}

/* Ajax 完了ボタンスタイル */
.finish_btn_style{
  background:#00CC00;
  color:#fff;
  /* background-image: url(../img/completed.png);
  background-size:cover; */
  position:relative;
}


.finish_btn_style:after{
  content:'✓';
  font-size:20px;
  color:#fff;
  position:absolute;
  left:4px;
  top:-1px;
  /* background:#CCFFCC; */
}

.unfinish_btn_style{
  background:#fff;
}

.cancel_btn_style{
  background:#AAAAAA;
  position:relative;
}

.cancel_btn_style:after{
  content:'×';
  color:#fff;
  position:absolute;
  left:4px;
  top:-11px;
}

.times_disp{
  margin-left:10px;
  margin-right:10px;
  font-size:0.7em;
}

.list_style_tags_titles{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top:2px;
  padding-right:5px;
}

.operate_icons{
  margin-left: auto;
  margin-right: 0;
}

.operate2,.operate3{
  margin-right:10px;
}

.guntt_chart_table{
  table-layout: fixed;
  width: 100%;
  border:solid 0.1px #888888;
  border-collapse: collapse; 
}

.guntt_chart_td{
  border-left:solid 1px #555;
}

.has_items_td{
  /* padding-left:0.5px;
  padding-right:0.5px; */
}

.gantt_cahrt_items{
  width:100%;
  height:30px;
  font-size:10px;
  overflow:hidden;
  border:solid 1px #555;
  border-radius:3px;
}

.time_lines{
  width:100%;
  height:60px;
  border-bottom:dotted 1px #555;
}

.left_time_disps{
  width:80px;
  border-right:dotted 1px #555;
}

.time_line_items{
  width:100%;
  /* height:60px; */
  border:solid 1px #555;

  z-index:999;
  border-radius: 5px;
  padding-left: 1%;
}

/*------------------新規登録フォーム------------------*/
/*背景ラジオのチェックを非表示に*/
#Addgreen[type=radio],#Addyellow[type=radio],#Addbule[type=radio],#Addpurple[type=radio],#Addred[type=radio],#Addorange[type=radio],#Addwhite[type=radio]{
  display: none; /* ラジオボタンを非表示にする */
}

/*背景ラベルのスタイル設定*/
#Addgreen,#Addyellow,#Addbule,#Addpurple,#Addred,#Addorange,#Addwhite{
  display: block; /* ブロックレベル要素化する */
  float: left; /* 要素の左寄せ・回り込を指定する */
  margin: 5px; /* ボックス外側の余白を指定する */
  width: 30px; /* ボックスの横幅を指定する */
  height: 30px; /* ボックスの高さを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  border: 1px solid #000000;/* ボックスの境界線を実線で指定する */
  border-radius: 3px; /* 角丸を指定する */
}

/*背景ラベルが選択された時のスタイル設定*/
#AddTdColor input[type="radio"]:checked + label{
  border-radius: 20px;
}

/*背景カラーパレット*/
#Addgreen{
    background-color:#66FF66;
}

#Addyellow{
    background-color:#FFFF88;
}

#Addbule{
    background-color:#87CEFA;
}

#Addpurple{
    background-color:#C299FF;
}

#Addred{
    background-color:#FA8072;
}

#Addorange{
    background-color:#FFA500;
}

#Addwhite{
    background-color:#FFFFFF;
}

/* 予定のタイトル */
#subAddTitle{
  width: 100%;
  padding-left: 10px;
}

/* 詳細なメモ */
#subAddMemo{
  width: 100%;
  padding-left: 10px;
  resize: none;
}



/* レスポンシブ(PC) */
@media screen and ( min-width:800px )
{
	.top_controller{
    display:flex;
	}

  .controller_inner1{
    /* padding-left:10px; */
    /* padding-right:10px; */
  }
  
  .controller_inner2{
    padding-left:10px;
    /* padding-right:10px; */
  }  

  .main_contents_area{
    display:flex;
    padding-left:50px;
    padding-right:50px;
  }

  .left_contents{
    width:25%;
    /* padding-left:5px;
    padding-right:5px; */
  }

  .right_contents{
    width:75%;
    padding-left:60px;
    /* padding-right:40px; */
  }
}

/* レスポンシブ(mobile) */
@media screen and ( max-width:800px )
{

  .pc_only_disp{
    display:none;
  }

  .controller_inner1{
    margin-top:10px;
    padding-left:10px;
    padding-right:10px;
  }
  
  .controller_inner2{
    margin-top:10px;
    padding-left:10px;
    padding-right:10px;
  }

}